.title {
  font-size: calc(var(--clamp-main)*1.4);
  text-align: center;
}

.home-icon {
    width: 15vw;
    height: 15vw;
}

.hero-icon svg {
    width: 100%;
    height: 100%;
    display: block;
}