@import url(https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: black;
}

:root {
    --r: 167;
    --g: 24;
    --b: 24;
    --bg-main: rgb(var(--r), var(--g), var(--b));
    --text-main: rgb(255, 255, 250);
    --gap-main: 5em;
    /* --btn-border: 0.5em solid white;
    --btn-radius: 5em */
    --font-main: "Playfair", serif;
    --clamp-main: clamp(0.4rem, calc(1rem + 1vw), 3rem);
    --menu-align: 2.5rem;
}

body {
    background-color: black;
    opacity: 0;
    transition: opacity 600ms ease-in-out, background-color 600ms ease-in-out;
    
    color: var(--text-main);
    font-family: var(--font-main);
    font-size: var(--clamp-main);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

body.loaded {
    opacity: 1;
    background-color: var(--bg-main);
}

header {
    width: 100vw;
    padding: var(--menu-align);
    padding-bottom: 0;
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header h1 {
    margin-top: 1%;
    font-family: "Homemade Apple", serif;
    font-size: clamp(1.6rem, calc(2rem + 1vw), 10rem);
    color: var(--text-main);
    transform: rotate(-9deg);
    display: inline-block;
}

#btn-bar {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    gap: 2rem;
}

#btn-bar button {
    flex: 1;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    background-color: var(--bg-main);
    color: var(--text-main);
    border: none;
    border-radius: 2rem 2rem 0 0;
    transition: all 200ms ease-in-out;
}

#btn-bar button:hover,
#btn-bar button.active {
    background-color: var(--text-main);
    color: var(--bg-main);
    cursor: pointer;
}

#content {
    display: flex;
    flex-grow: 1;
    
    scroll-behavior: smooth;
    height: 0;
    
    margin: 0 var(--menu-align) var(--menu-align) var(--menu-align);
    

    background-color: var(--text-main);
    color: var(--bg-main);

    font-size: calc(var(--clamp-main)*1.4);
    overflow: hidden;
    overflow-y: auto;
    position: relative;

    border: 1.5rem solid var(--text-main);
    outline: 0.25rem solid var(--bg-main);
    outline-offset: -1.75rem;
    border-radius: 0 0 2rem 2rem;
}


#content > div {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.home, .about {
    padding: 0 10rem;
    justify-content: center;
}

.menu {
    padding: 6rem 4rem;
    padding-bottom: 70rem;
    justify-content: flex-start;
}

#content::-webkit-scrollbar,
#content::-webkit-scrollbar-track,
#content::-webkit-scrollbar-track-piece,
#content::-webkit-scrollbar-button,
#content::-webkit-scrollbar-corner {
    background-color: var(--text-main);
    border: none;
    box-shadow: none;
    height: 0;
    width: 1rem;
}

#content::-webkit-scrollbar-thumb {
    background-color: var(--bg-main);
}

